.searchInputs {
    margin-top: 105px;
    display: flex;
}

.search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
}

.searchIcon {
    height: 60px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
}

input:focus {
    outline: none;
}

.searchIcon svg {
    font-size: 35px;
}

.dataResult {
    margin-top: 5px;
    /* width: 300px; */
    width: 610px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    font-size: 15px;
    border-radius: 20px;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
    /* border-radius: 20px; */
}

.dataItem {
    margin-left: 10px;
    margin-right: 5px;
    font-size: '25px';
}

.routeLink {
    color: black;
}

a {
    text-decoration: none;
}

.dataItem:hover {
    background-color: lightgrey;
}

#clearBtn {
    cursor: pointer;
}