.listings {
    background-image: none;
    background-color: azure;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 50px;
    left: 0;
    background-color: rgb(237, 233, 233);
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

ul#room_space li {
    display: inline;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#sideNavContent {
    margin-block: 10px;
    /* sets both start and end values */
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.btn {
    margin: 10px;
    min-width: 40px;
}

.locationArrow {
    position: absolute;
    right: 20px;
    color: black;
    margin-right: 10px;
}

.wifiAccess {
    position: absolute;
    right: 40px;
    margin-right: 10px;
}

.locationArrow:hover {
    color: green
}

.propertyCard {
    max-height: "0.3vh";
}

.largeSection {
    width: 70%;
}

.smallerSection {
    width: 30%;
}