body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1437' height='558' preserveAspectRatio='none' viewBox='0 0 1437 558'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1030%26quot%3b)' fill='none'%3e%3cpath d='M1003.25 323.91 a96.71 96.71 0 1 0 193.42 0 a96.71 96.71 0 1 0 -193.42 0z' fill='rgba(176%2c 152%2c 211%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M844.26 36.13 a169.71 169.71 0 1 0 339.42 0 a169.71 169.71 0 1 0 -339.42 0z' fill='rgba(176%2c 152%2c 211%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1299.796%2c516.803C1336.709%2c516.339%2c1368.925%2c494.524%2c1387.944%2c462.884C1407.624%2c430.144%2c1414.771%2c389.714%2c1396.283%2c356.286C1377.266%2c321.901%2c1339.081%2c304.306%2c1299.796%2c303.501C1258.913%2c302.663%2c1216.446%2c316.653%2c1196.207%2c352.185C1176.128%2c387.436%2c1186.115%2c430.816%2c1207.721%2c465.152C1227.809%2c497.075%2c1262.081%2c517.278%2c1299.796%2c516.803' fill='rgba(176%2c 152%2c 211%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M676.844%2c244.291C716.767%2c243.581%2c746.572%2c211.04%2c765.032%2c175.634C781.947%2c143.19%2c783.064%2c105.609%2c766.032%2c73.226C747.652%2c38.282%2c716.317%2c8.862%2c676.844%2c7.968C636.066%2c7.045%2c599.998%2c33.265%2c580.374%2c69.022C561.487%2c103.436%2c564.123%2c144.479%2c583.052%2c178.87C602.752%2c214.662%2c635.995%2c245.017%2c676.844%2c244.291' fill='rgba(176%2c 152%2c 211%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M118.584%2c560.724C152.029%2c558.713%2c182.356%2c543.671%2c200.88%2c515.752C221.883%2c484.097%2c235.307%2c444.654%2c218.046%2c410.813C199.484%2c374.423%2c159.359%2c351.912%2c118.584%2c354.409C81.171%2c356.7%2c57.205%2c389.52%2c38.196%2c421.826C18.798%2c454.794%2c-2.012%2c493.696%2c17.148%2c526.802C36.289%2c559.874%2c80.441%2c563.018%2c118.584%2c560.724' fill='rgba(176%2c 152%2c 211%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1283.789%2c506.123C1307.643%2c506.837%2c1327.904%2c489.959%2c1339.328%2c469.006C1350.248%2c448.978%2c1350.185%2c424.948%2c1338.84%2c405.157C1327.433%2c385.259%2c1306.724%2c372.338%2c1283.789%2c372.126C1260.486%2c371.91%2c1237.925%2c383.566%2c1226.945%2c404.121C1216.492%2c423.688%2c1222.927%2c446.466%2c1233.726%2c465.844C1244.901%2c485.896%2c1260.843%2c505.436%2c1283.789%2c506.123' fill='rgba(176%2c 152%2c 211%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1089.12 88.74 a161.03 161.03 0 1 0 322.06 0 a161.03 161.03 0 1 0 -322.06 0z' fill='rgba(176%2c 152%2c 211%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M978.77 268.33 a143.33 143.33 0 1 0 286.66 0 a143.33 143.33 0 1 0 -286.66 0z' fill='rgba(176%2c 152%2c 211%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1030'%3e%3crect width='1437' height='558' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.box {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    height: 200px;
    transform: translate(-50%, -30%);
    font-size: 40px;
    max-width: 600px;
    /* border-style: dashed; */
}

.cta {
    margin: 0 0 10px;
    padding: 0;
    font-size: 70px;
    text-align: center;
    width: 100%;
    max-width: 600px;
}

input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
    align-items: center;
}

input[type="text"] {
    background-color: #fff;
    width: 100%;
    height: 90px;
    border: gray solid;
    outline: none;
    padding: 0 25px;
    border-radius: 25px;
    max-width: 600px;
}

input[type="submit"] {
    position: relative;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 90px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(7, 126, 69);
    color: #fff;
    left: -5px
}

input[type="submit"]:hover {
    background-color: rgb(82, 55, 149)
}

.brandImage {
    width: 45px;
    height: 45px;
}